
.vs/MyRenderingEngine/v17/ipch/AutoPCH/b136efb8bf7e8e7a/MAIN.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/9a0a52c18e92b63b/WINDOW.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/80f18d97f8c55d52/MESH.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/684717d4b90ae9bc/RENDERER.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/388d3aca4fab79ca/MODEL.ipch
.vs/MyRenderingEngine/v17/HierarchyCache.v1.txt
.vs/MyRenderingEngine/v17/Browse.VC.opendb
.vs/MyRenderingEngine/v17/Browse.VC.db-wal
.vs/MyRenderingEngine/v17/Browse.VC.db-shm
.vs/MyRenderingEngine/v17/Browse.VC.db
.vs/MyRenderingEngine/v17/.suo
.vs/MyRenderingEngine/v16/ipch/AutoPCH/b136efb8bf7e8e7a/MAIN.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/aeb4a7513c6ddb8c/CAMERA.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/80f18d97f8c55d52/MESH.ipch
.vs/MyRenderingEngine/v16/Browse.VC.db
.vs/MyRenderingEngine/v16/.suo
.vs/MyRenderingEngine/FileContentIndex/read.lock
.vs/MyRenderingEngine/FileContentIndex/7b45763d-d772-4d65-8bb8-fa5bcc4a1fd1.vsidx
Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
Debug/MyRender.fb2bf0ff.tlog/unsuccessfulbuild
Debug/MyRenderingEngine.Build.CppClean.log
Debug/MyRenderingEngine.log
Debug/MyRenderingEngine.vcxproj.FileListAbsolute.txt
*.obj
*.tlog
x64/Debug/assimp-vc140-mt.dll
x64/Debug/assimp-vc140-mt.lib
x64/Debug/camera.obj
x64/Debug/glew32.dll
x64/Debug/glew32.lib
x64/Debug/glew32s.lib
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.Build.CppClean.log
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/MyRenderingEngine.vcxproj.FileListAbsolute.txt
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/vcpkg.applocal.log
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
