
.vs/MyRenderingEngine/v17/ipch/AutoPCH/b136efb8bf7e8e7a/MAIN.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/9a0a52c18e92b63b/WINDOW.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/80f18d97f8c55d52/MESH.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/684717d4b90ae9bc/RENDERER.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/388d3aca4fab79ca/MODEL.ipch
.vs/MyRenderingEngine/v17/HierarchyCache.v1.txt
.vs/MyRenderingEngine/v17/Browse.VC.opendb
.vs/MyRenderingEngine/v17/Browse.VC.db-wal
.vs/MyRenderingEngine/v17/Browse.VC.db-shm
.vs/MyRenderingEngine/v17/Browse.VC.db
.vs/MyRenderingEngine/v17/.suo
.vs/MyRenderingEngine/v16/ipch/AutoPCH/b136efb8bf7e8e7a/MAIN.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/aeb4a7513c6ddb8c/CAMERA.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/80f18d97f8c55d52/MESH.ipch
.vs/MyRenderingEngine/v16/Browse.VC.db
.vs/MyRenderingEngine/v16/.suo
.vs/MyRenderingEngine/FileContentIndex/read.lock
.vs/MyRenderingEngine/FileContentIndex/7b45763d-d772-4d65-8bb8-fa5bcc4a1fd1.vsidx
Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
Debug/MyRender.fb2bf0ff.tlog/unsuccessfulbuild
Debug/MyRenderingEngine.Build.CppClean.log
Debug/MyRenderingEngine.log
Debug/MyRenderingEngine.vcxproj.FileListAbsolute.txt
*.obj
*.tlog
x64/Debug/assimp-vc140-mt.dll
x64/Debug/assimp-vc140-mt.lib
x64/Debug/camera.obj
x64/Debug/glew32.dll
x64/Debug/glew32.lib
x64/Debug/glew32s.lib
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.Build.CppClean.log
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/MyRenderingEngine.vcxproj.FileListAbsolute.txt
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/vcpkg.applocal.log
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/camera.obj
x64/Debug/main.obj
x64/Debug/mesh.obj
x64/Debug/model.obj
x64/Debug/MyRender.fb2bf0ff.tlog/CL.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/CL.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.command.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.read.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/link.write.1.tlog
x64/Debug/MyRender.fb2bf0ff.tlog/MyRenderingEngine.lastbuildstate
x64/Debug/MyRenderingEngine.exe.recipe
x64/Debug/MyRenderingEngine.log
x64/Debug/renderer.obj
x64/Debug/renderfunction.obj
x64/Debug/shader.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
.vs/MyRenderingEngine/v17/ipch/AutoPCH/fc790d90766a2567/RENDERFUNCTION.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/f38eb1cc5af0ef74/SCENERENDERER.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/d0e4deb079be5533/WORLD.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/c607909fadaf8c6e/IRENDERER.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/c298090af06faf70/RENDERTEXTURE.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/aeb4a7513c6ddb8c/CAMERA.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/8d20cbb54959efe6/SHADER.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/24ed3598ddb237b0/TEXTURE.ipch
.vs/MyRenderingEngine/v17/ipch/AutoPCH/14ecb851a7e9f4b5/SCENERENDERER.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/9cb51781728449e/POSTPROCESS.ipch
.vs/MyRenderingEngine/v16/ipch/AutoPCH/388d3aca4fab79ca/MODEL.ipch
.vs/MyRenderingEngine/FileContentIndex/d675929b-1299-43fd-8977-46971b67a453.vsidx
.vs/MyRenderingEngine/FileContentIndex/cc099a3b-8a63-4ba9-ad1c-f9505590d845.vsidx
.vs/MyRenderingEngine/FileContentIndex/98d52cf0-795e-435f-8661-022d49893bd7.vsidx
.vs/MyRenderingEngine/FileContentIndex/83f00d3e-70dc-4d09-a441-b06c97ceee8e.vsidx
Shaders/depthOnly_vert.glsl
Shaders/depthOnly_frag.glsl
x64/Debug/MyRenderingEngine.exe
x64/Debug/MyRenderingEngine.ilk
x64/Debug/MyRenderingEngine.log
x64/Debug/MyRenderingEngine.pdb
x64/Debug/Shaders/depthOnly_frag.glsl
x64/Debug/Shaders/depthOnly_vert.glsl
x64/Debug/teapot.fshader
x64/Debug/teapot.vshader
x64/Debug/teapot/teapot.mtl
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/MyRenderingEngine.log
